{% extends "layout.html.twig" %}
{% block content %}
<br><br><br>
  <fieldset> <center><h1>Edit Your Post</h1></center></fieldset>
    {{ form_start(form) }}
    <div class="form-area">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 offset-lg-2 d-flex justify-content-center">
                    <div class="form-group">
                        <form action="#" class="form">
                            <div class="form-field margin-top-30">
                                {{ form_widget(form.title,{'attr': {'class': 'input-form', 'placeholder': 'Title'}}) }}
                            </div>

                            <div class="form-field margin-top-30">
                                {{ form_widget(form.content,{'attr': {'class': 'input-form','placeholder': 'Content'}}) }}
                            </div>

                            <br>

                        </form>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}